@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Rowdies:wght@300&family=Truculenta:wght@200;400;600&display=swap');

/*
font-family: 'Phudu', cursive;
font-family: 'Rowdies', cursive;
font-family: 'Truculenta', sans-serif;
*/

body{
    background-color: rgb(39, 39, 39);
}

p{
    font-family: 'Truculenta', sans-serif;
    font-size: large;
    color: lightgray;
    /* padding: 20px;
    margin: 0% 20% 0% 20%; */
    max-width: 800px;
}

.titoli-principali{
    font-family: 'Rowdies', cursive;
    color: rgb(255, 176, 6);
    text-align: center;
}

.sottotitoli{
    
    font-family: 'Phudu', cursive;
    color: goldenrod;
    /* margin: 0% 20% 0% 20%; */
}

footer{
    color: whitesmoke;
    margin: 20px;
}

figcaption{
    color: gray;
}

.navigazione{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.lista{
    color: whitesmoke;
}

.link-footer{
    color: whitesmoke;
}

.referal-azienda{
    color: whitesmoke;
}

section{
    border-bottom: solid 1px grey;
    padding: 0% 5% 0% 5%;
    
}

img{
    width: 100%;
    max-width: 20%;
    min-width: 300px;
}

iframe{
    padding: 20px;
}